@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    --color-mc: #5c584f;
    --color-nm: #573d29;
    --color-sc: #231815;
    --color-pc: #573d29;
    --color-ch: #D7000F;
    --color-pco: #f45000;
    --color-yw: #FFF700;
    --color-ic: #286BD0;
    --color-df: #212121;
    --color-st: #777;
    --color-ph: #bbb;
    --color-pg: #ccc;
    --color-ml: #ddd;
    --color-ct: #e2e2e2;
    --color-cl: #eee;
    --color-cs: #eceae6;
    --color-hg: #f6f6f6;
    --color-lg: #f3f3f3;
    --color-wt: #fff;
    --color-bt: #a2a2a2;
    --color-scs: #707070;
    --color-sct: #5d5d5d;
    --color-en: #8d8d8d
}

/* 띠 배너 css */ 
.promotionBanner {
    position: relative;
}

.promotionBanner #scrollstagetpl {
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #eaeaea;
    color: #fff;
    font-size: 15px;
    background-size: cover;
}

.promotionBanner #scrollstagetpl a {
    color: #111;
}

.promotionBanner #scrollstagetpl .couponbtn {
    display: inline-block;
    font-size: 13px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-left: 14px;
    padding: 0 13px;
    font-weight: bold;
    border: 0;
}

.promotionBanner #scrollstagetpl .couponbtn2 {
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin-left: 14px;
    padding: 0 6px 0 2px;
    font-weight: 800;
    padding: 5px;
}

.promotionBanner #scrollstagetpl a:hover {
    text-decoration: none;
}

.promotionBanner .btnClose {
    position: absolute;
    top: 2px;
    right: 2%;
}

.promotionBanner.bannerClose {
    opacity: 0;
}

html,body,button,dl,dt,dd,div,form,fieldset,legend,h1,h2,h3,h4,h5,h6,input,select,textarea,ul,ol,li,p,pre,table,td,th,caption,a {
    margin: 0;
    padding: 0
}

html {
    font-size: 16px;
    font-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-df);
    font-weight: 400;
    font-family: Pretendard,apple-system,'Apple SD Gothic Neo','맑은 고딕',sans-serif;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent
}

h1,h2,h3,h4,h5 {
    font-weight: 800;
    font-size: 40px
}

strong {
    font-weight: 400
}

legend {
    display: block;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px
}

input,textarea,select {
    border: 1px solid var(--color-ml);
    border-radius: 0;
    font-size: 16px;
    font-family: Pretendard,apple-system,'Apple SD Gothic Neo','맑은 고딕',sans-serif;
    vertical-align: top;
    box-sizing: border-box;
    outline: none
}

textarea {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    resize: none;
    outline: none
}

textarea::placeholder {
    color: var(--color-pg)
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/images/common/bg_select.png') no-repeat top 19px right 17px/11px auto;
    color: var(--color-st)
}

button {
    border: 0;
    background: 0;
    font-weight: 400;
    font-size: 16px;
    font-family: Pretendard,apple-system,'Apple SD Gothic Neo','맑은 고딕',sans-serif;
    color: var(--color-df);
    cursor: pointer
}

a {
    color: var(--color-df)
}

::placeholder {
    color: var(--color-ph)
}

input:disabled {
    border: 1px solid var(--color-ml);
    background: var(--color-hg);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

input[type="text"]::-ms-clear {
    display: none
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}


select::-ms-expand {
    display: none
}

ol,ul {
    list-style: none
}

a {
    text-decoration: none;
    vertical-align: top
}

img {
    width: 100%;
    vertical-align: top
}

i, em {
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

caption {
    display: block;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px
}

figure, figcaption {
    position: relative;
    margin: 0;
    padding: 0
}

/*숨김 텍스트*/
.blind {
    display: block;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px
}

/* 스크롤(공통) */
::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #f8f8f8
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: var(--color-ml);
}

::-moz-selection {
    background: rgba(92,88,79,.7);
    color: var(--color-wt)
}

/* Code for Firefox */
::selection {
    background: rgba(92,88,79,.7);
    color: var(--color-wt)
}

/* 건너뛰기 */
#skip_nav {
    width: 100%;
    height: 0;
    text-align: center;
    overflow: hidden
}

#skip_nav a:focus, #skip_nav a:hover, #skip_nav a:active {
    overflow: visible;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #3a3a3a;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    color: #fff;
    text-decoration: underline;
    z-index: 99
}

/*******************************
*	버튼
********************************/
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    box-sizing: border-box
}

.btn:not(.sml) {
    height: 60px;
    line-height: 60px
}

.btn.sml {
    height: 58px;
    line-height: 58px
}

.btn > * {
    flex-shrink: 1;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 6px;
    color: var(--color-wt);
    transition: all .2s;
    box-sizing: border-box
}

.btn.inner {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px 0 20px 0;
    padding: 0 20px;
    font-weight: 700;
    font-size: 16px
}

.btn.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 56px
}

.btn *:first-child {
    margin-top: 0;
    margin-left: 0
}

.btn.wd100 {
    flex-wrap: wrap;
    height: auto;
    margin-top: 30px;
    line-height: 56px
}

.btn.wd100 > * {
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 0
}

/*버튼 컬러*/
.btnStyle-1 {
    color: var(--color-pc);
    border: 1px solid var(--color-pc);
    background-color: var(--color-wt)
}

/* 빨강 글씨, 빨강 테두리, 흰 배경 */
.btnStyle-2 {
    color: var(--color-wt);
    border: 1px solid var(--color-pc);
    background-color: var(--color-pc)
}

/* 흰 글씨, 빨강 테두리, 빨강 배경 */
.btnStyle-3 {
    color: var(--color-pc);
    border: 1px solid var(--color-cs);
    background-color: var(--color-cs)
}

/* 빨강 글씨, 연회색 테두리, 연회색 배경 */
.btnStyle-4 {
    color: var(--color-wt);
    border: 1px solid var(--color-mc);
    background-color: var(--color-mc)
}

/* 흰색 글씨, 진갈색 테두리, 진갈색 배경 */
.btnStyle-5 {
    color: var(--color-df);
    border: 1px solid var(--color-pg);
    background-color: var(--color-wt)
}

/* 검정 글씨, 연회색 테두리, 흰 배경 */
.btnStyle-6 {
    color: var(--color-wt);
    border: 1px solid var(--color-ph);
    background-color: var(--color-ph)
}

/* 흰 글씨, 연회색 테두리, 연회색 배경 */
.btnStyle-7 {
    color: var(--color-sct);
    border: 1px solid var(--color-scs);
    background-color: var(--color-wt)
}

/* 진회색 글씨, 진회색 테두리, 흰 배경 */
.btnStyle-8 {
    color: var(--color-df);
    border: 1px solid var(--color-scs);
    background-color: var(--color-wt)
}

/* 검정 글씨, 707070 테두리, 흰 배경 */
.btnStyle-9 {
    color: var(--color-bt);
    border: 1px solid var(--color-pg);
    background-color: var(--color-lg)
}

/* 회색 글씨, 진회색 테두리, 연회색 배경 */
.btnStyle-10 {
    color: var(--color-en);
    border: 1px solid var(--color-ml);
    background-color: var(--color-wt)
}

/* 8d8d8d 글씨, ddd 테두리, fff 배경 */
.btnStyle-11 {
    color: var(--color-df);
    border: 1px solid var(--color-pg);
    background-color: var(--color-lg)
}

/* 212121 글씨, ccc 테두리, f3f3f3 배경 */
.btnStyle-12 {
    color: var(--color-st);
    border: 1px solid var(--color-ml);
    background-color: var(--color-wt)
}

/* 777 글씨, ddd 테두리, fff 배경 */
.btnStyle-13 {
    color: var(--color-mc);
    border: 1px solid var(--color-mc);
    background-color: var(--color-wt)
}

/* 흰색 글씨, 진갈색 테두리, 진갈색 배경 */
.btnStyle-14 {
    color: var(--color-df);
    border: 1px solid var(--color-df);
    background-color: var(--color-wt)
}

/* 212121 글씨, 212121 테두리, fff 배경 */
/*비활성화*/
.btn.disabled {
    color: #c2c3c2;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    cursor: default
}

.btn.disabled:hover {
    color: #c2c3c2;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    cursor: default
}

/*******************************
*	input
********************************/
.formArea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%
}

.formArea + .formArea {
    margin-top: 20px
}

.formArea + .infoArea {
    margin-top: 20px
}

.formArea label {
    flex-shrink: 0;
    width: 110px;
    margin-right: 10px;
    vertical-align: top
}

.formArea .ip_txt {
    display: inline-block;
    position: relative;
    height: 46px;
    padding: 0 50px 0 20px;
    background: var(--color-wt);
    line-height: 44px;
    vertical-align: top;
    box-sizing: border-box
}

.formArea .ip_txt:read-only, .formArea input:disabled {
    padding-right: 0;
    border-color: var(--color-ml);
    background: var(--color-lg)
}

.formArea .ip_big {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 50px 0 20px;
    background: var(--color-wt);
    line-height: 48px
}

.formArea .btnDel {
    display: none;
    position: absolute;
    top: 0px;
    right: 13px;
    width: 40px;
    height: 44px;
    padding: 12px 0;
    z-index: 2;
    box-sizing: border-box;
    cursor: pointer
}

.formArea.on .btnDel {
    display: block
}

.formArea .ip_big + .btnDel {
    height: 50px;
    padding: 13px 0
}

.formArea .btnDel::before {
    content: '\2715';
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    border-radius: 50%;
    background: var(--color-ml);
    font-size: 14px;
    line-height: 24px;
    color: var(--color-wt);
    padding-left: 1px;
    text-align: center;
    box-sizing: border-box
}

.errorMsg {
    display: none;
    padding: 10px 0 0 120px;
    font-size: 14px;
    color: var(--color-pc);
    word-break: keep-all
}

.formArea .msg {
    flex-shrink: 0;
    width: 100%;
    padding: 12px 0 0 140px;
    font-size: 14px;
    box-sizing: border-box
}

.formArea .msg .sub {
    color: var(--color-en)
}

.formArea .time {
    display: block;
    position: absolute;
    top: 15px;
    right: 127px;
    font-size: 15px;
    color: var(--color-pc)
}

/* .formArea label + .ip_txt + .btnDel {top:44px} */
.formArea.formBtn .btnDel {
    right: 102px
}

/* .formArea.formBtn {display:flex;flex-wrap:wrap} */
.formArea.formBtn .ip_txt {
    width: 350px
}

.formArea.formBtn .btnInput {
    width: 90px;
    height: 46px;
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    box-sizing: border-box
}

.formArea.on .btnInput.btnStyle-9 {
    color: var(--color-df);
    cursor: pointer
}

.formArea.invalid .ip_txt {
    border-color: var(--color-pc)
}

.formArea.invalid.incorrect .ip_txt {
    border-color: var(--color-ml)
}

.formArea.invalid .errorMsg, .formArea.incorrect .errorMsg {
    display: block
}

.formArea.correct::after {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    right: 20px;
    width: 17px;
    height: 13px;
    background: url('/images/common/icon_sprites.png') no-repeat -294px -198px
}

.formArea.rgt .ip_txt {
    padding-right: 86px
}

.formArea.rgt.incorrect::before {
    content: '사용불가';
    display: block;
    position: absolute;
    top: 16px;
    right: 42px;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-pc);
    z-index: 2
}

.formArea.rgt.incorrect::after {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    right: 20px;
    width: 17px;
    height: 13px;
    background: url('/images/common/icon_sprites.png') no-repeat -262px -70px
}

/* .searchArea {padding:0;border-bottom:3px solid #efefef;background:var(--color-wt)} */
.formArea.address > .ip_txt {
    width: 220px
}

.formArea.address > .btnInput {
    width: 120px
}

.formArea .innerFormArea {
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 120px
}

.formArea .innerFormArea .ip_txt, .formArea .innerFormArea .btnInput {
    margin-top: 14px
}

.formArea .innerFormArea .time {
    top: 29px;
    right: 12px
}

.formArea .innerFormArea .ip_txt {
    flex: 1
}

.formArea.formBtn .innerFormArea .time {
    right: 111px
}

/* .formArea.address .innerFormArea .ip_txt {width:100%} */
/*******************************
*	select box
********************************/
.selectArea {
    display: inline-block;
    position: relative;
    vertical-align: top
}

.selectArea .sltCurrent {
    display: block;
    position: relative;
    width: 100%;
    height: 46px;
    padding: 0 40px 0 16px;
    border: 1px solid var(--color-ml);
    background-color: var(--color-wt);
    font-weight: 300;
    line-height: 46px;
    box-sizing: border-box
}

.selectArea .sltCurrent::before {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    right: 20px;
    width: 14px;
    height: 8px;
    background: url('images/common/icon_select.png') no-repeat;
    transition: all .2s
}

.selectArea select {
    background: url('/images/common/icon_select.png') no-repeat top 19px right 20px
}

.selectArea span.sltCurrent {
    color: var(--color-pg)
}

.selectArea .sltList {
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    width: 100%;
    max-height: 190px;
    padding: 0 15px;
    border: 1px solid var(--color-ml);
    border-top: 0;
    background: var(--color-wt);
    box-sizing: border-box;
    overscroll-behavior: contain;
    z-index: 3
}

.selectArea .sltList::-webkit-scrollbar {
    width: 6px
}

.selectArea .sltList li {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid var(--color-cl);
    font-weight: 300;
    line-height: 44px
}

.selectArea .sltList li a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.selectArea .sltList li a.soldout {
    color: #999
}

.selectArea.invalid .sltCurrent {
    color: var(--color-pg)
}

/* .selectArea.on .sltCurrent {border-color:var(--color-ml)} */
.selectArea.on .sltCurrent::before {
    transform: rotate(180deg)
}

.selectArea.on .sltList {
    display: block
}

/*******************************
*	check/radio
********************************/
.check, .radio, .dateRadio {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.radio:not(.tab) + .radio {
    margin-left: 30px
}

.check label, .radio label {
    display: inline-block;
    position: relative;
    line-height: 24px;
    vertical-align: top;
    cursor: pointer
}

.check label {
    padding-left: 31px
}

.check label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: -31px;
    margin-right: 7px;
    border-radius: 50%;
    box-sizing: border-box;
    vertical-align: top
}

.check label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    width: 14px;
    height: 10px;
    background: url('/images/common/icon_sprites.png') no-repeat -272px 0px
}

.check input, .radio input, .toggleCheck input, .dateRadio input {
    position: absolute;
    left: -999999px;
    display: inline-block
}

.check input[type]:checked + label::before {
    border-color:var(--color-ch);
    background:var(--color-ch);
}

.check input[type]:checked + label::after {
    background-position-y: -14px
}

.radio:not(.tab) label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid var(--color-pg);
    vertical-align: top;
    box-sizing: border-box
}

.radio:not(.tab) label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-ml)
}

.radio:not(.tab) input[type]:checked + label::before {
    border-color: var(--color-ch)
}

.radio:not(.tab) input[type]:checked + label::after {
    background-color: var(--color-ch)
}

.squareRadio {
    margin-left: -6px
}

.squareRadio .radio {
    margin: 0 0 0 6px
}

.squareRadio .radio label {
    width: 180px;
    height: 80px;
    padding: 0 6px;
    border: 1px solid var(--color-ml);
    background: var(--color-wt);
    line-height: 80px;
    color: var(--color-st);
    text-align: center;
    box-sizing: border-box
}

.squareRadio .radio input[type]:checked + label {
    border-color: var(--color-pc);
    color: var(--color-pc)
}

.toggleCheck {
    position: relative
}

.toggleCheck label {
    cursor: pointer
}

.toggleCheck label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 28px;
    border-radius: 50px;
    background: var(--color-ct);
    transition: all .2s ease
}

.toggleCheck label::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    right: 30px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-wt);
    transition: all .2s ease-in-out;
    z-index: 1
}

.toggleCheck input:checked + label::before {
    background: var(--color-pc)
}

.toggleCheck input:checked + label::after {
    right: 2px
}

/* .checkAll:not(.check) {padding:12px 0 13px 0;border-bottom:1px solid var(--color-cl)}
.checkEach {padding-top:4px}
.checkEach .check {display:block;margin-top:16px;margin-left:0}
.choiceOption {padding-left:27px}
.choiceOption .check {display:inline-block;margin-top:11px}
.choiceOption .check + .check {margin-left:15px}
.choiceOption .check label::before,
.choiceOption .check label::after {display:none}
.choiceOption .check label {display:inline-block;width:80px;height:30px;background:var(--color-lg);font-size:13px;line-height:30px;color:var(--color-bt);text-align:center}
.choiceOption .check input[type]:checked + label {border:1px solid var(--color-df);background:var(--color-wt);line-height:28px;color:var(--color-df);box-sizing:border-box} */
/*******************************
*	textarea
********************************/
.textarea {
    width: 100%;
    padding: 14px 40px 20px 14px;
    border: 1px solid var(--color-ml);
    box-sizing: border-box
}

.maxlength {
    display: block;
    padding-top: 10px;
    font-size: 10px;
    color: var(--color-bt);
    text-align: right
}

.formArea .textarea {
    height: 144px
}

/*******************************
*	공통
********************************/
.essential {
    color: var(--color-pc)
}

.inessential {
    color: var(--color-st)
}

.icon_img {
    display: inline-block;
    background: url('/images/common/icon_sprites.png') no-repeat;
    vertical-align: top
}

.iconS::before {
    content: '';
    display: inline-block;
    background: url('/images/common/icon_sprites.png') no-repeat;
    vertical-align: top
}

.contents:not(.incCat) {
    position: relative;
    width: 1200px;
    margin: 0 auto
}

.contents .contSection {
    padding: 0 20px;
    box-sizing: border-box
}

.contents .contSection + .contSection {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid var(--color-ct)
}

.contents .innerContents {
    position: relative;
    width: 1200px;
    margin: 0 auto
}

.enTitle {
    overflow: hidden;
    display: block;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto';
    color: var(--color-en);
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box
}

.areaTitle {
    padding: 80px 0 50px 0;
    border-bottom: 1px solid var(--color-df);
    text-align: center
}

.en {
    font-family: 'Roboto'
}

/*******************************
*	skip
********************************/
#skipnav {
    position: relative
}

#skipnav a {
    display: block;
    position: absolute;
    left: 0;
    top: -127px;
    width: 100%;
    background: var(--color-df);
    font-size: 20px;
    line-height: 50px;
    color: var(--color-wt);
    text-align: center;
    z-index: 99
}

#skipnav a:focus, #skipnav a:active {
    top: 0
}

/*******************************
*	헤더
********************************/
.header {
    min-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-cl)
}

.header .headerArea {
    background: var(--color-wt)
}

.header .headerInside.menu {
    border-bottom: 1px solid var(--color-cl)
}

.header .headerInside.gnb {
    position: relative;
    /* background:var(--color-wt) */
}

.header .headerInside.gnb .gnbList a {
    font-size: 17px
}

.header .headerInside.gnb .gnbList a:hover {
    color: var(--color-pc)
}

.header .headerInside .inner {
    width: 1200px;
    margin: 0 auto
}

.header .menu .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px
}

.header .menu .inner .personalMenu {
    flex-grow: 1;
    text-align: right
}

.header .menu .inner .personalMenu .pm {
    display: inline-block;
    vertical-align: top
}

.header .menu .inner .personalMenu .pm + .pm::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    margin-top: 5px;
    background: var(--color-cl);
    vertical-align: top
}

.header .menu .inner .personalMenu .pm a {
    display: inline-block;
    height: 26px;
    padding: 0 6px 0 10px;
    font-size: 13px;
    line-height: 26px;
    transition: all .2s ease;
    vertical-align: top;
    box-sizing: border-box
}

.header .menu .inner .personalMenu .pm.wholesale::before {
    display: none
}

.header .menu .inner .personalMenu .pm.wholesale a {
    padding: 0 8px;
    border: 1px solid var(--color-cl);
    border-radius: 80px;
    line-height: 26px
}

.header .menu .inner .personalMenu .pm.wholesale a::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 12px;
    margin: 6px 0 0 6px;
    background: url('/images/common/icon_sprites.png') no-repeat -196px -116px;
    vertical-align: top
}

.header .menu .inner .personalMenu .pm.wholesale a:hover {
    border-color: var(--color-pc);
    color: var(--color-pc)
}

.header .menu .inner .personalMenu .pm.wholesale a:hover::after {
    background-position: -250px -238px
}

.header .depth1 {
    display: inline-block;
    vertical-align: top
}

.header .gnb .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    font-family: 'Roboto',Pretendard;
}

.header .gnb .inner .logo {
    margin-right: 40px;
}

.header .gnb .inner .logo a::after {
    content: '';
    display: block;
    width: 190px;
    height: 31px;
    margin-top:-30px;
}

.header .gnb .inner .logo a .wholesale {
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
}

.header .gnb .gnbList {
    flex-grow: 1;
    height: 100%;
    line-height: 90px
}

.header .gnb .gnbList .depth1 + .depth1 {
    margin-left: 30px
}

.header .gnb .gnbList .depth1 a {
    display: block;
    font-weight: 500;
    text-align: center
}

.header .gnb .gnbList .depth1.on a {
    color: var(--color-pc)
}

.header .gnb .utilList .depth1 > .iconS {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 7px;
    padding: 13px 0;
    border-radius: 50%;
    background: var(--color-wt);
    text-align: center;
    box-sizing: border-box
}

.header .gnb .utilList .depth1.on > .iconS, /* .header .gnb .utilList .depth1 > .iconS:focus, */
.header .gnb .utilList .depth1 > .iconS:hover {
    background-color: var(--color-pc)
}

.header .gnb .utilList .cart .iconS {
    position: relative
}

.header .gnb .utilList .cart .iconS::before {
    width: 22px;
    height: 24px;
    background-position: -268px -190px
}

.header .gnb .utilList .cart .count {
    display: block;
    position: absolute;
    top: 11px;
    right: 7px;
    width: 18px;
    border-radius: 50%;
    background: var(--color-pc);
    font-size: 11px;
    line-height: 18px;
    color: var(--color-wt);
    text-align: center
}

.header .gnb .utilList .search > .iconS::before {
    width: 24px;
    height: 24px;
    background-position: -240px -190px
}

/* .header .gnb .utilList .cart .iconS:focus::before,  */
.header .gnb .utilList .cart .iconS:hover::before {
    background-position: -180px 0px
}

/* .header .gnb .utilList .cart .iconS:focus .count,  */
.header .gnb .utilList .cart .iconS:hover .count {
    background-color: var(--color-wt);
    color: var(--color-pc)
}

.header .gnb .utilList .search.on > .iconS::before,/*  .header .gnb .utilList .search > .iconS:focus::before, */
.header .gnb .utilList .search > .iconS:hover::before {
    background-position: -188px -29px
}

body.scroll .headerArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
    z-index: 5
}

/* 헤더::검색 */
.headerInside.gnb .searchSlide {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-wt);
    text-align: center;
    transition: all .2s ease-in-out;
    z-index: 3
}

.headerInside.gnb .depth1.on .searchSlide {
    opacity: 1;
    visibility: visible;
    min-height: 380px;
    height: auto;
    padding: 46px 0 66px 0;
    box-shadow: 2px 3px 6px rgba(0,0,0,.16);
    box-sizing: border-box
}

.searchSection {
    position: relative;
    display: inline-block;
    width: 500px;
    text-align: left;
    vertical-align: top
}

.searchSection .noSearch {
    padding-bottom: 9px;
    font-size: 13px;
    line-height: 15px;
    color: var(--color-bt)
}

.searchSection .title {
    display: inline-block;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    vertical-align: top
}

.searchSection .btnAllDel {
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 92px;
    padding: 0 10px;
    line-height: 22px;
    color: var(--color-st);
    vertical-align: top
}

.searchKwd {
    width: 1000px;
    margin: 0 auto 40px auto
}

.searchKwd .entry {
    position: relative;
    margin-bottom: 40px
}

.searchKwd .entry .ip_kwd {
    width: 100%;
    padding: 14px 100px 14px 0;
    border: 0;
    border-bottom: 2px solid var(--color-df);
    /* font-weight:600; */
    font-size: 28px
}

.searchKwd .entry .ip_kwd:focus {
    outline: none
}

.searchKwd .entry .btnSearch {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 0 21px 10px
}

.searchKwd .entry .btnSearch::before {
    width: 53px;
    height: 22px;
    background-position: -234px -118px
}

.searchSlide .btnDel {
    position: absolute;
    top: 50px;
    right: 50%;
    width: 51px;
    height: 51px;
    margin-right: -600px;
    padding: 15px 0;
    border: 1px solid var(--color-ml);
    border-radius: 50%;
    background: var(--color-wt);
    text-align: center;
    box-sizing: border-box
}

.searchSlide .btnDel::before {
    width: 21px;
    height: 21px;
    background-position: -180px -132px
}

.searchSection.recent .kwdList .kwd {
    display: inline-block;
    margin: 0 10px 10px 0;
    background: var(--color-lg);
    line-height: 35px
}

.searchSection.recent .kwdList .kwd .word {
    display: inline-block;
    padding: 0 4px 0 16px;
    vertical-align: top
}

.searchSection.recent .kwdList .kwd .del {
    display: inline-block;
    padding: 11px 16px 0 4px;
    vertical-align: top
}

.searchSection.recent .kwdList .kwd .del.iconS::before {
    width: 13px;
    height: 13px;
    background-position: -170px -104px
}

.searchSection.popular::after {
    content: '';
    display: block;
    clear: both
}

.searchSection.popular .title {
    padding-bottom: 27px
}

.searchSection.popular .kwdList .kwd {
    display: inline-block;
    margin: 0 28px 18px 0;
    vertical-align: top
}

.searchSection.popular .kwdList .kwd .word {
    padding: 0 6px 0 0;
    line-height: 19px;
    color: var(--color-st);
    box-sizing: border-box
}

.searchSection.popular .kwdList .kwd .word .num {
    display: inline-block;
    margin-right: 7px;
    color: var(--color-df);
    vertical-align: top;
    box-sizing: border-box
}

/*******************************
*	탭바
********************************/
.tabbarArea {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: var(--color-mc);
    transition: all .3s ease-in-out;
    z-index: 4
}

.tabbarArea .tabbarItem {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 16px 0 0
}

.tabbarArea .tabbarItem a {
    display: table-cell;
    padding-top: 7px;
    font-size: 10px;
    line-height: 12px;
    color: var(--color-wt);
    text-align: center
}

.tabbarArea .tabbarItem .tabbar_icon {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    background: url('/images/common/icon_tabbar.png') no-repeat 0 0/133px auto
}

.tabbarArea .tabbarItem .home .tabbar_icon {
    background-position-x: 0px
}

.tabbarArea .tabbarItem .pay .tabbar_icon {
    background-position-x: -27px
}

.tabbarArea .tabbarItem .order .tabbar_icon {
    background-position-x: -54px
}

.tabbarArea .tabbarItem .locations .tabbar_icon {
    background-position-x: -81px
}

.tabbarArea .tabbarItem .other .tabbar_icon {
    background-position-x: -108px
}

.otherWrap .tabbarArea .tabbarItem .other .tabbar_icon, .tabbarArea .tabbarItem a.on .tabbar_icon {
    background-position-y: -27px
}

/* 퀵메뉴 */
.quickMenu {
    position: fixed;
    right: 0;
    bottom: 420px;
    text-align: right;
    z-index: 7
}

.quickMenu .quickTop {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 80px;
    padding: 15px 15px 15px 20px;
    border-radius: 12px 0 0 12px;
    background: var(--color-lg);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    white-space: nowrap;
    transition: all .2s ease;
    box-sizing: border-box
}

.quickMenu .quickTop .title {
    display: none;
    font-size: 12px;
    line-height: 50px;
    color: var(--color-st)
}

.quickMenu .quickTop .thumbList {
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    overflow: hidden;
    width: 50px;
    max-width: 174px;
    margin-left: 14px
}

.quickMenu .quickTop .thumb {
    flex-shrink: 0;
    overflow: hidden;
    flex-basis: 50px;
    height: 50px;
    margin-left: 6px;
    border-radius: 50%
}

.quickMenu .quickTop .thumb a {
    display: block
}

.quickMenu .quickTop:hover {
    width: auto
}

.quickMenu .quickTop:hover .title {
    display: block
}

.quickMenu .quickTop:hover .thumbList {
    width: auto
}

.quickMenu .quickBot {
    display: inline-block;
    width: 80px;
    margin-top: 10px;
    padding: 36px 10px;
    border-radius: 12px 0 0 12px;
    background: var(--color-wt);
    box-shadow: 2px 5px 8px rgba(0,0,0,.16);
    font-size: 12px;
    color: var(--color-st);
    text-align: center;
    vertical-align: top;
    box-sizing: border-box
}

.quickMenu .quickBot .menu a {
    display: block;
    transition: all .1s ease
}

.quickMenu .quickBot .menu + .menu {
    margin-top: 36px
}

.quickMenu .quickBot .iconS::before {
    display: block;
    width: 24px;
    height: 25px;
    margin: 0 auto 10px auto
}

.quickMenu .quickBot .mytera .iconS::before {
    background-position-x: -97px
}

/* MY TERA */
.quickMenu .quickBot .cart .iconS::before {
    background-position-x: -152px
}

/* 장바구니 */
.quickMenu .quickBot .order .iconS::before {
    background-position-x: -124px
}

/* 주문/배송 */
.quickMenu .quickBot .iconS:focus, .quickMenu .quickBot .iconS:hover {
    color: var(--color-pc)
}

.quickMenu .quickBot .iconS:focus::before, .quickMenu .quickBot .iconS:hover::before {
    background-position-y: -212px
}

/* 스크롤버튼 */
.btnScroll {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 100px;
    right: 30px;
    width: 50px;
    height: 0;
    padding: 0 12px;
    border-radius: 100px;
    background: var(--color-wt);
    box-shadow: 2px 5px 8px rgba(0,0,0,.16);
    box-sizing: border-box;
    z-index: 7;
    transition: all .2s ease
}

.btnScroll.on {
    opacity: 1;
    visibility: visible;
    height: 100px
}

.btnScroll .iconS {
    display: block;
    position: relative;
    padding: 20px 0 11px 0;
    text-align: center;
    box-sizing: border-box
}

.btnScroll .iconS.down::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color-cl)
}

.btnScroll .iconS::before {
    width: 15px;
    height: 8px
}

.btnScroll .iconS.up::before {
    background-position: -124px -180px
}

.btnScroll .iconS.down::before {
    background-position: -124px -192px
}

.btnScroll .iconS.up:hover::before {
    background-position: -230px -218px
}

.btnScroll .iconS.down:hover::before {
    background-position: -230px -230px
}

/*******************************
*	우측 하단 고정 메뉴
********************************/
.fixedMenu {
    overflow: hidden;
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 42px;
    padding: 1px 5px;
    border-radius: 50px;
    background: var(--color-wt);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-sizing: border-box;
    z-index: 4
}

.fixedMenu a {
    display: block;
    width: 100%;
    padding: 12px 0
}

.fixedMenu a.mypage .icon_img {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    background-position: 0 -21px
}

.fixedMenu a.gift .icon_img {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    background-position: 0 -48px
}

.fixedMenu a + a {
    border-top: 1px solid var(--color-cl)
}

/*******************************
*	탭
********************************/
.tabMenu {
    border-bottom: 1px solid var(--color-df)
}

.tabMenu a span {
    display: inline-block;
    position: relative;
    height: 100%
}

.tabMenu a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center
}

.tabMenu.type1 a {
    padding: 10px 0 20px 0;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-st)
}

.tabMenu.type1 a.on {
    color: var(--color-df)
}

.tabMenu.type1 a + a::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 24px;
    margin: 0 22px 0 19px;
    background: var(--color-df);
    vertical-align: top
}

.tabMenu.type2 a {
    border-top: 1px solid var(--color-ml);
    border-left: 1px solid var(--color-ml);
    border-bottom: 1px solid var(--color-df);
    background: var(--color-wt);
    font-size: 18px;
    line-height: 60px
}

.tabMenu.type2 a:last-of-type {
    border-right: 1px solid var(--color-ml)
}

.tabMenu.type2 a.on {
    border-top-color: var(--color-df);
    border-left-color: var(--color-df);
    border-bottom-color: var(--color-wt);
    background: var(--color-wt);
    font-weight: 600
}

.tabMenu.type2 a.on + a {
    border-left-color: var(--color-df)
}

.tabMenu.type2 a.on:last-of-type {
    border-right-color: var(--color-df)
}

.tabMenu.type3 {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 0
}

.tabMenu.type3 a {
    flex: 1;
    border: 1px solid var(--color-ml);
    border-right-color: var(--color-lg);
    border-bottom-color: var(--color-scs);
    background: var(--color-lg);
    line-height: 58px;
    box-sizing: border-box
}

.tabMenu.type3 a:last-of-type {
    border-right-color: var(--color-ml)
}

.tabMenu.type3 a.on {
    border-color: var(--color-df);
    border-right-color: var(--color-df);
    border-bottom-color: transparent;
    background: var(--color-wt)
}

.tabMenu.type3 a.on + a {
    border-left-color: var(--color-lg)
}

.tabMenu.type4 {
    display: flex;
    margin-top: 16px;
    margin-bottom: 20px;
    border-left: 1px solid var(--color-ct);
    border-bottom-color: var(--color-ct)
}

.tabMenu.type4 a {
    position: relative;
    width: 200px;
    border-top: 1px solid var(--color-ct);
    border-right: 1px solid var(--color-ct);
    background: var(--color-lg);
    font-size: 14px;
    line-height: 56px;
    text-align: center
}

.tabMenu.type4 a.on {
    border-bottom-color: var(--color-wt);
    background: var(--color-wt)
}

.tabMenu.type4 a.on::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color-wt);
    z-index: 1
}

.tabCont {
    display: none;
    /* padding:18px 20px 0 20px; */
    box-sizing: border-box
}

.tabCont.on {
    display: block
}

.subTabMenu {
    padding-top: 17px;
    border-bottom: 1px solid #eee
}

.subTabMenu a {
    display: inline-block;
    border: 1px solid var(--color-ml);
    border-radius: 30px;
    line-height: 36px;
    color: var(--color-mc)
}

.subTabMenu a:first-of-type {
    padding-left: 0
}

.subTabMenu a:last-of-type {
    padding-right: 0
}

.subTabMenu a span em {
    color: var(--color-pc)
}

.subTabMenu a.on {
    background: var(--color-mc);
    color: var(--color-wt)
}

.subTabMenu a.on span {
    display: block;
    position: relative;
    height: 100%;
    font-weight: 700
}

.subTabMenu a.on span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--color-df)
}

/*******************************
*	카테고리 탭
********************************/
/* .menuSlide {border-bottom:1px solid var(--color-cl)} */
.menuSlide .innerSlide {
    position: relative;
    /* margin-bottom:20px; */
    /* border-bottom:1px solid var(--color-cl); */
    background: var(--color-wt)
}

.menuSlide .menuLine {
    border-bottom: 1px solid var(--color-cl);
    background: var(--color-wt)
}

.menuSlide.scroll .innerSlide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3
}

.menuSlide .depth1 {
    overflow-x: auto;
    width: 1200px;
    margin: 0 auto;
    white-space: nowrap;
    box-sizing: border-box
}

.menuSlide .depth1::after {
    content: '';
    display: block;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color-cl)
}

.menuSlide .depth1 li {
    display: inline-block;
    vertical-align: top
}

.menuSlide .depth1 li a {
    display: block;
    padding: 0 28px;
    line-height: 54px;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box
}

.menuSlide .depth1 li:first-of-type a {
    padding-left: 0
}

.menuSlide .depth1 li a span {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    vertical-align: top;
    box-sizing: border-box
}

.menuSlide .depth1 li.on a span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--color-pc)
}

/* .menuSlide .depth2 {overflow-x:auto;width:100%;padding-top:20px;white-space:nowrap} */
.menuSlide .depth2 {
    width: 1200px;
    margin: 0 auto
}

.menuSlide .depth2 li {
    display: inline-block;
    margin: 10px 6px 0 0;
    vertical-align: top
}

.menuSlide .depth2 li a {
    display: block;
    height: 34px;
    padding: 0 21px;
    border: 1px solid var(--color-ml);
    font-size: 15px;
    line-height: 32px;
    box-sizing: border-box
}

.menuSlide .depth2 li.on a {
    border-color: var(--color-pc);
    color: var(--color-pc)
}

.menuSlide .innerSlide + .depth2 {
    margin-top: 10px
}

.menuSlide .bannerArea {
    width: 1200px;
    margin: 20px auto;
    padding-top: 10px
}

.menuSlide.category {
    padding-bottom: 0
}

.menuSlide.category .depth1 {
    overflow: hidden;
    display: flex;
    padding: 0
}

.menuSlide.category .depth1 li {
    flex-grow: 1;
    /* width:100% */
}

.menuSlide.category .depth1 li a {
    padding: 0
}

.menuSlide.category .depth2 {
    margin-bottom: 40px
}

/*******************************
*	상품 리스트
********************************/
.imgArea {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top
}

.imgArea .thumbImg {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
    box-sizing: border-box
}

.imgArea .thumbImg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-ct);
    box-sizing: border-box
}

.imgArea .thumbImg img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all .2s ease-in-out;
    object-fit: cover
}

.listStyle .listWrap {
    margin-top: 30px;
    margin-left: -20px;
    margin-right:-20px;
}

.listStyle .listWrap::after {
    content: '';
    display: block;
    clear: both
}

.listStyle .listWrap .listSet {
    display: inline-block;
    position: relative;
    width: 282px;
    margin-left: 19px;
    vertical-align: top;
    box-sizing: border-box
}

.listStyle .listWrap .listSet:nth-of-type(n+5) {
    margin-top: 70px
}

.listStyle .listWrap .listSet:hover .imgArea img, .listStyle .listWrap .listSet:focus .imgArea img {
    transform: scale(1.05)
}

.listStyle .listWrap .listSet .infoArea {
    position: relative;
    padding-top: 14px
}

.listStyle .listWrap .listSet .infoArea .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 20px;
    max-height: 48px
}

.listStyle .listWrap .listSet .infoArea .title .suggest {
    display: inline-block;
    margin-top: 1px;
    padding: 0 8px;
    border-radius: 30px 0 30px 30px;
    background: var(--color-mc);
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    color: var(--color-wt);
    vertical-align: top
}

.listStyle .listWrap .listSet .infoArea .subScript {
    overflow: hidden;
    display: block;
    /*ie*/
    display: -webkit-box;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    color: var(--color-sct);
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 32px
}

.listStyle .listWrap .listSet .infoArea .subScript + .subScript {
    margin-top: 8px
}

.listStyle .listWrap .listSet .infoArea .price {
    display: block;
    margin-top: 14px;
    font-size: 18px
}

.listStyle .listWrap .listSet .infoArea .btn {
    height: 32px;
    margin-top: 16px;
    font-weight: 400;
    line-height: 32px
}

.listStyle .listWrap .listSet .infoArea .option {
    margin-top: 5px;
    font-size: 12px;
    color: var(--color-st)
}

.listStyle .listWrap .listSet .infoArea .option span + span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 2px 5px 0 5px;
    background: var(--color-st);
    vertical-align: top
}

.listStyle .listWrap .listSet .infoArea .option + .price {
    margin-top: 8px
}

.listStyle .listWrap .listSet .btnCart {
    position: absolute;
    top: 218px;
    right: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(92,88,79,.85);
    z-index: 3
}

.listStyle .listWrap .listSet .btnCart .iconS {
    display: block;
    width: 100%;
    height: 100%;
    padding: 9px 0;
    text-align: center;
    box-sizing: border-box
}

.listStyle .listWrap .listSet .btnCart .iconS::before {
    width: 21px;
    height: 24px;
    background-position-x: -180px
}

.listStyle .listWrap .listSet .badgeArea {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1
}

.listStyle .listWrap .listSet .badgeArea .badge {
    display: inline-block;
    padding: 0 10px;
    background: rgba(92,88,79,.65);
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: var(--color-wt);
    vertical-align: top
}

.listStyle .listWrap .listSet .btnViewDetail {
    position: absolute
}

.listStyle .listWrap .listSet .soldOutBadge {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    font-weight: 700;
    color: var(--color-wt);
    text-align: center;
    z-index: 4
}

.listStyle .listWrap .listSet .soldOutBadge .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 48px
}

.listStyle .listWrap .listSet .soldOutBadge .date {
    flex-shrink: 0;
    width: 100%;
    padding-top: 10px;
    font-size: 20px
}

/*******************************
*	datePicker
********************************/
.ui-datepicker {
    transform: translate(-50%, -50%);
    width: 500px;
    margin: 0 auto 0 auto;
    padding: 12px 25px 0 25px;
    background: var(--color-wt);
    box-sizing: border-box
}

.ui-datepicker-calendar {
    margin-bottom: 45px
}

.ui-datepicker-calendar thead th span {
    display: block;
    width: 100%;
    height: 44px;
    margin-bottom: 14px;
    background: var(--color-hg);
    font-weight: 400;
    line-height: 44px;
    color: var(--color-st)
}

.ui-datepicker-calendar td {
    width: 64px;
    height: 64px;
    text-align: center
}

.ui-datepicker-calendar td a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 22px 0;
    box-sizing: border-box
}

.ui-datepicker-unselectable.ui-state-disabled {
    color: var(--color-bt)
}

.ui-datepicker-unselectable.ui-datepicker-other-month {
    color: var(--color-cs)
}

.ui-datepicker-today a {
    border: 1px solid var(--color-df);
    box-sizing: border-box
}

.ui-datepicker-calendar .ui-datepicker-current-day a {
    padding: 13px 0;
    background: var(--color-df);
    color: var(--color-wt)
}

.ui-datepicker-current-day a::after {
    content: '발송일';
    display: block;
    font-size: 14px;
    padding-top: 2px;
    color: var(--color-wt)
}

.ui-datepicker-buttonpane {
    display: flex;
    margin: 0 -25px;
    text-align: center
}

.ui-datepicker-buttonpane button {
    flex: 1;
    padding: 19px 0;
    background: var(--color-pc);
    font-size: 18px;
    color: var(--color-wt)
}

.ui-widget-header {
    position: relative;
    padding: 28px 25px;
    font-weight: 700;
    font-size: 24px;
    text-align: center
}

.ui-widget-header .ui-datepicker-prev, .ui-widget-header .ui-datepicker-next {
    position: absolute;
    top: 0;
    height: 20px;
    padding: 32px 7px;
    cursor: pointer
}

.ui-widget-header .ui-datepicker-prev.ui-state-disabled, .ui-widget-header .ui-datepicker-next.ui-state-disabled {
    opacity: .3
}

.ui-widget-header .ui-datepicker-prev {
    left: 0px
}

.ui-widget-header .ui-datepicker-next {
    left: auto;
    right: 0px
}

.ui-widget-header .ui-datepicker-prev::before {
    content: '';
    display: block;
    width: 10px;
    height: 18px;
    margin: 0 auto;
    background: url('/images/common/icon_sprites.png') no-repeat -162px -156px;
    transform: scale(-1)
}

.ui-widget-header .ui-datepicker-next::before {
    content: '';
    display: block;
    width: 10px;
    height: 18px;
    margin: 0 auto;
    background: url('/images/common/icon_sprites.png') no-repeat -162px -156px
}

.dimmed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    z-index: 19
}

/*******************************
*	팝업::기본
********************************/
body.layerPop {
    overflow: hidden
}

.popWrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    z-index: 10
}

.popWrap .popInner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 600px;
    max-height: 90%;
    margin: 0 auto;
    background: var(--color-wt);
    box-sizing: border-box
}

.popWrap .popInner .popBox {
    padding: 50px 40px 0 40px
}

.popWrap .popInner .popBox .popHeader {
    display: block;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-df);
    font-size: 26px;
    text-align: center
}

.popWrap .popInner .popBox .popHeader .subScript {
    display: block;
    padding: 16px 60px 0 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-st);
    word-break: keep-all
}

.popWrap .popInner .popBox .btnClose {
    position: absolute;
    top: 30px;
    right: 30px
}

.popWrap .popInner .popBox .btnClose .iconS::before {
    width: 21px;
    height: 21px;
    background-position: -180px -132px
}

.popWrap .popInner .popBox .desc {
    line-height: 20px
}

.popWrap .popInner .popBox .popBody {
    overflow: auto;
    max-height: calc(100vh - 273px);
    margin: 0 -40px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    overscroll-behavior: contain
}

.popWrap .popInner.onlyText .popBody {
    min-height: 400px;
    padding: 84px 0 120px 0;
    text-align: center
}

.popWrap .popInner.onlyText .popBox .popBody .desc {
    font-weight: 600;
    font-size: 26px;
    line-height: 38px
}

.popWrap .popInner.onlyText .popBox .popBody .text {
    padding-top: 30px;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-st)
}

.popWrap .popInner.onlyText .popBox .popBody .text .emphasis {
    color: var(--color-pc)
}

.popWrap .btn * + * {
    margin-left: 0
}

.popWrap.on {
    display: block
}

/*******************************
*	팝업::토스트
********************************/
.popToast {
    opacity: 0;
    position: fixed;
    bottom: 83px;
    left: 0;
    right: 0;
    width: 600px;
    margin: 0 auto;
    font-size: 12px;
    animation: toast 2.5s ease-in-out both;
    z-index: 11
}

.popToast .toastText {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 17px 30px;
    border-radius: 50px;
    background: rgba(0,0,0,.8);
    color: var(--color-wt);
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box
}

.popToast .toastText .left {
    flex-grow: 1
}

.popToast .toastText .right {
    color: var(--color-yw)
}

.popToast .toastText.top::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-left: 4px;
    background: url('/images/common/icon_sprites.png') no-repeat -230px -256px;
    vertical-align: top
}

.popToast .toastText.right::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-left: 4px;
    background: url('/images/common/icon_sprites.png') no-repeat -244px -256px;
    vertical-align: top
}

.popToast .toastText.check {
    padding-left: 15px
}

.popToast .toastText.check::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background: #D02D28
}

.popToast .toastText.check::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 23px;
    left: 18px;
    width: 13px;
    height: 10px;
    background: url('/images/common/icon_sprites.png') no-repeat -230px -242px
}

@keyframes toast {
    0% {
        opacity: 0;
        bottom: 50px;
        z-index: -1
    }

    5%,92% {
        opacity: 1;
        bottom: 83px;
        z-index: 11
    }

    100% {
        opacity: 0;
        bottom: 50px;
        z-index: -1
    }
}

.popToast.store {
    bottom: 50px;
    animation: none;
    transition: all .2s ease-in-out
}

.popToast.store.on {
    opacity: 1;
    bottom: 83px
}

/*******************************
*	페이징
********************************/
.pagination {
    margin-top: 80px;
    padding-top: 40px;
    border-top: 1px solid var(--color-cl);
    text-align: center
}

.pagination .pagingInner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-cl)
}

.pagination a {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-left: 1px solid var(--color-cl);
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    transition: all .2s ease
}

.pagination a.now {
    color: var(--color-pc)
}

.pagination a.now::before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-pc);
    z-index: 1
}

.pagination a.disabled {
    opacity: .4;
    pointer-events: none
}

.pagination a:hover {
    background: var(--color-hg)
}

.pagination .first, .pagination .last, .pagination .prev, .pagination .next {
    padding: 13px 0
}

.pagination .first::before {
    width: 15px;
    height: 15px;
    background-position: -143px -130px
}

/* 처음 */
.pagination .prev::before {
    width: 8px;
    height: 15px;
    background-position: -142px -104px
}

/* 이전 */
.pagination .next::before {
    width: 8px;
    height: 15px;
    background-position: -156px -104px
}

/* 다음 */
.pagination .last::before {
    width: 15px;
    height: 15px;
    background-position: -162px -130px
}

/* 마지막 */
/*******************************
*	푸터
********************************/
.footer {
    min-width: 1200px;
    margin: 0 auto;
    padding-bottom: 73px;
    border-top: 1px solid var(--color-cl);
    letter-spacing: -.35px
}

.fnb {
    border-bottom: 1px solid var(--color-cl)
}

.fnb .fnbList {
    display: flex;
    width: 1200px;
    margin: 0 auto
}

.fnb .fnbList::after {
    content: '';
    display: block;
    clear: both
}

.fnb .fnbList .fnbItem a {
    display: inline-block;
    padding: 19px 25px;
    font-size: 14px;
    vertical-align: top
}

.fnb .fnbList .fnbItem:first-of-type a {
    padding-left: 0
}

.footerBox {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 26px
}

.footerBox .footerCol {
    position: relative;
    box-sizing: border-box
}

.footerBox .footerCol + .footerCol {
    padding-left: 50px
}

.footerBox .footerCol + .footerCol::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 140px;
    background: var(--color-cl)
}

.footerBox .boxTitle {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
    color: var(--color-sct)
}

.footerBox .subInfo * {
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-en);
    vertical-align: top
}

.footerBox .subInfo dd {
    padding-right: 18px
}

.footerBox .cs {
    flex-shrink: 0;
    width: 324px
}

.footerBox .cs .tel {
    display: block;
    padding-bottom: 8px;
    font-size: 20px
}

.footerBox .qrcode {
    padding-top: 8px
}

.footerBox .app {
    flex-shrink: 0;
    width: 236px
}

.footerBox .app .os {
    display: inline-block;
    width: 80px;
    font-size: 14px;
    color: var(--color-en);
    text-align: center;
    vertical-align: top
}

.footerBox .app .os + .os {
    margin-left: 10px
}

.footerBox .app .os .qr {
    width: 80px;
    height: 80px;
    margin-bottom: 25px
}

.footerBox .bank {
    flex-shrink: 0;
    width: 300px
}

.footerBox .contact {
    flex-grow: 1;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-sct)
}

.footerBox .contact a {
    color: var(--color-sct)
}

.footerBox .contact .contactList::after {
    content: '';
    display: block;
    clear: both
}

.footerBox .contact .contactList .item {
    float: left;
    margin-right: 8px
}

.footerBox .contact .contactList .item.name {
    margin-right: 20px
}

.footerBox .contact .contactList .item.link a {
    text-decoration: underline
}

.footerBox .contact .copyright {
    display: block;
    padding-top: 4px;
    font-size: 14px;
    color: var(--color-en)
}

.footerBox .contact .snsList {
    display: inline-block;
    margin-right: 8px;
    padding-top: 18px;
    line-height: 16px;
    vertical-align: top
}

.footerBox .contact .snsList .item {
    display: inline-block;
    margin-right: 14px;
    vertical-align: top
}

.footerBox .contact .snsList .item a {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-en)
}

.footerBox .contact .snsList .item a::before {
    width: 24px;
    height: 24px;
    margin-right: 6px
}

.footerBox .contact .snsList .item.insta a::before {
    background-position: -302px -270px
}

.footerBox .contact .snsList .item.youtube a::before {
    background-position: -330px -270px
}

.footerBox .contact .snsList .item.kakao a::before {
    background-position: -358px -270px
}

.footerBox .bank .account {
    display: block;
    padding-bottom: 3px;
    font-size: 20px;
    line-height: 24px
}


/*******************************
*	loading
********************************/
.loadingWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 99;
    display: none
}

.loadingWrap .loadingArea {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 47px;
    margin: 0 auto
}

.loader {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 40px;
    margin: -10px 0 0 -20px;
    -webkit-mask-image: -webkit-linear-gradient(top, var(--color-pc), rgba(0, 0, 0, 0));
    transform-origin: 20px 20px;
    animation: loading .8s linear infinite;
    z-index: 2
}

.loader::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px var(--color-pc);
    z-index: 1
}

@keyframes loading {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}