@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

#choiceBeans {
    position: relative;
    width: 940px;
    height: 1100px;
    margin: 80px auto 180px;
    background: #eeeae3;
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
}

#choiceBeans h1 {
    float: left;
    display: inline-block;
    width: 470px;
    height: 40px;
    line-height: 26px;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -0.04em;
    font-family:pretendard;
    margin-top:50px;
}
#choiceBeans span{
	font-size:18px;
	font-family:pretendard;
	font-weight:300;
}

#choiceTitle h1{
	font-family:pretendard;
	text-align:center;
	font-size:40px;
	margin-top:50px;
}

#choiceTitle h5{
	text-align:center;
	font-size:18px;
	font-family:pretendard;
	font-weight:300;
}

#firstBeans {
    list-style: none;
    position: absolute;
    width: 470px;
    top: 120px;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-right: 1px solid #dcdcdc;
}

#firstBeans li {
    width: 300px;
    height: 290px;
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box;
    background-size: 270px 260px;
    cursor: pointer;
}

#firstBeans li p {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    top: 42%;
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.04em;
}

#firstBeans li:nth-child(3) > .aBox > p {
    top: 37%;
}

#firstBeans li p span {
    display: block;
    color: rgba(0,0,0,0.4);
    font-size: 20px;
    font-weight: 400;
    padding-top: 0px;
}

#firstBeans li.on > p > span {
    color: rgba(255,255,255,0.7);
}

#firstBeans > li > .aBox {
    float: left;
    display: block;
    position: relative;
    width: 270px;
    height: 260px;
    margin: 15px;
    background-size: 270px 260px;
    border:15px solid #573d29;
    border-radius: 50%;
    
}

#firstBeans > li:nth-child(1) > .aBox:hover {
    width: 300px;
    height: 290px;
    margin: 0;
    background-size: 300px 290px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#firstBeans > li:nth-child(2) > .aBox:hover {
    width: 300px;
    height: 290px;
    margin: 0;
    background-size: 300px 290px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#firstBeans > li:nth-child(3) > .aBox:hover {
    width: 300px;
    height: 290px;
    margin: 0;
    background-size: 300px 290px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#firstBeans > li.on:nth-child(1) > .aBox {
    width: 270px;
    height: 260px;
    margin: 15px;
    background-size: 270px 260px;
}

#firstBeans > li.on:nth-child(2) > .aBox {
    width: 270px;
    height: 260px;
    margin: 15px;
    background-size: 270px 260px;
}

#firstBeans > li.on:nth-child(3) > .aBox {
    width: 270px;
    height: 260px;
    margin: 15px;
    background-size: 270px 260px;
}

#firstBeans > li.on:nth-child(1) > .aBox:hover {
    background-size: 270px 260px;
    box-shadow: none;
}

#firstBeans > li.on:nth-child(2) > .aBox:hover {
    background-size: 270px 260px;
    box-shadow: none;
}

#firstBeans > li.on:nth-child(3) > .aBox:hover {
    background-size: 270px 260px;
    box-shadow: none;
}

#firstBeans > li > .aBox:hover > p {
    color: #fff;
}

#firstBeans > li > .aBox:hover > p > span {
    color: rgba(255,255,255,0.7);
}

#firstBeans > li.on > .aBox > p {
    color: #fff;
}

#firstBeans > li.on > .aBox > p > span {
    color: rgba(255,255,255,0.7);
}

#firstBeans > li > .secondBeans {
    display: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: 470px;
    width: 470px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#firstBeans > li.on > .secondBeans {
    display: block;
}

#firstBeans > li.on > .secondBeans > li > .bBox {
    float: left;
    display: block;
    position: relative;
    width: 270px;
    height: 260px;
    margin: 15px;
    background-size: 270px 260px;
}

#firstBeans > li.on > .secondBeans > li:nth-child(1) > .bBox:hover {
    width: 300px;
    height: 290px;
    margin: 0;
    background-size: 300px 290px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#firstBeans > li.on > .secondBeans > li:nth-child(2) > .bBox:hover {
    width: 300px;
    height: 290px;
    margin: 0;
    background-size: 300px 290px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#firstBeans > li.on > .secondBeans > li:nth-child(3) > .bBox:hover {
    width: 300px;
    height: 290px;
    margin: 0;
    background-size: 300px 290px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

#firstBeans > li.on > .secondBeans > li.co:nth-child(1) > .bBox {
    width: 270px;
    height: 260px;
    margin: 15px;
    background-size: 270px 260px;
}

#firstBeans > li.on > .secondBeans > li.co:nth-child(2) > .bBox {
    width: 270px;
    height: 260px;
    margin: 15px;
    background-size: 270px 260px;
}

#firstBeans > li.on > .secondBeans > li.co:nth-child(3) > .bBox {
    width: 270px;
    height: 260px;
    margin: 15px;
    background-size: 270px 260px;
}

#firstBeans > li.on > .secondBeans > li.co:nth-child(1) > .bBox:hover {
    background-size: 270px 260px;
    box-shadow: none;
}

#firstBeans > li.on > .secondBeans > li.co:nth-child(2) > .bBox:hover {
    background-size: 270px 260px;
    box-shadow: none;
}

#firstBeans > li.on > .secondBeans > li.co:nth-child(3) > .bBox:hover {
    background-size: 270px 260px;
    box-shadow: none;
}

#firstBeans > li.on > .secondBeans > li > .bBox:hover > p {
    color: #fff;
}

#firstBeans > li.on > .secondBeans > li > .bBox:hover > p > span {
    color: rgba(255,255,255,0.7);
}

#firstBeans > li.on > .secondBeans > li.co > .bBox > p {
    color: #fff;
}

#firstBeans > li.on > .secondBeans > li.co > .bBox > p > span {
    color: rgba(255,255,255,0.7);
}

#viewBox {
    display: block;
    list-style: none;
    position: absolute;
    top: 120px;
    left: 470px;
    width: 470px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#viewBox.noneView {
    display: none;
}

#viewBox > .secondBeans > li {
    width: 300px;
    height: 290px;
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box;
    background-size: 270px 260px;
    cursor: pointer;
}

#viewBox > .secondBeans > li > .bBox {
    float: left;
    display: block;
    position: relative;
    width: 270px;
    height: 260px;
    margin: 15px;
    background-size: 270px 260px;
}

#viewBox li p {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    top: 42%;
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #e0e0e0;
}

#viewBox li a {
    position: absolute;
    display: block;
    width: 270px;
    height: 260px;
}

#firstBeans li.on .secondBeans li .choiceButton {
    display: none;
}

#firstBeans li.on .secondBeans li.co .choiceButton {
    display: block;
}

.choiceButton {
    position: absolute;
    width: 940px;
    height: 90px;
    line-height: 90px;
    background: #573d29;
    left: -470px;
    top: 1020px;
}

.choiceButton a {
    position: absolute;
    width: 940px;
    height: 90px;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}